/* Import fonts from adobe */
/* 
    font-family: source-sans-pro, sans-serif;
    font-family: parkside, cursive;
    font-family: bilo, sans-serif;

*/

/* html {
    background:url('/assets/clothes-view-page.png') no-repeat center center fixed;
} */

body {
    background-color: #fdf0de;
    font-family: var(--bilo);
}

body p {
    color: var(--p-color);
}

body p:hover {
    color: #525252;
    transition-duration: 0.5s;
}

body a {
    text-decoration: none;
    color: var(--p-color);
}

body a:hover {
    text-decoration: none;
    color: #525252;
    transition-duration: 0.5s;
}

:root{
    --primary-color: #383838;
    --p-color: #a6a6a6;
    --button-color: #f9f9f9;
    --mobile-color: #999999;
    --app-color: #e6e6e6;
    --sig-orange: #f49a60;
    --source-sans: source-sans-pro, sans-serif;
    --parkside: parkside, cursive;
    --bilo: bilo, sans-serif;
}

.primary-color {
    color: var(--primary-color)
}

.bg-primary-color {
    background-color: var(--primary-color) !important;
}

.p-color {
    color: var(--p-color)
}

.font-source-sans {
    font-family: var(--source-sans);
}

.font-parkside {
    font-family: var(--parkside);
}

.font-bilo {
    font-family: var(--bilo);
}

/* Header */

header {
    z-index: 100;
}

.container {
    min-height: 1280px;
    min-width: 720px;
    background-color: rgb(12, 12, 12);
    z-index: 99;
}

.myrow {
    display: flex;
    align-items: center;
}

h2 {
    color: var(--primary-color);
}

.mylogo {
    width: 110px;
    height: 110px;
    margin-top: 15px;
}

.mysignin {
    margin-top: -10px;
}

.container .dropdown-toggle,
.container .dropdown-item {
    font-size: 0.7em;
}

.header-links a {
    font-size: 0.9em;
    text-decoration: none;
    color: var(--p-color);
}

.mybuttonheader {
    color: var(--p-color);
}

.search-icon, .basket-icon {
    padding: 8px 12px;
    color: var(--p-color);
}

.mynavbar {
    padding: 0 0 0 10px;
    margin: -10px 0 0 0;
}

.mybasketbar {
    /* background-color: #f49a60; */
    margin: 28px 0 0 0;
}

.mybasketbar i {
    color: var(--p-color);
    margin: 0px 0 0 0;
    margin: 0 20px;
    border: 1px solid var(--p-color);
    border-radius: 30px;
    padding: 7px;
}

.mybasketbar i:hover {
    color: #525252;
    border-color: #525252;
    transition-duration: 0.5s;
}

/* /Header */


/* Main */

.mainimages img {
    width: 100%;
    height: auto;
}

.box {
    width: 100%;
    height: 300px;
}


/* /Main */
